In [1]:
# Data analysis and Manipulation 
import plotly.graph_objs as go 
import plotly.io as pio 
import plotly.express as px 
import pandas as pd 

# Data Visualization 
import matplotlib.pyplot as plt 

# Importing Plotly 
import plotly.offline as py 
py.init_notebook_mode(connected=True) 

# Initializing Plotly 
pio.renderers.default = 'colab'

In [2]:
# Importing Dataset1 
dataset1 = pd.read_csv("covid_19.csv") 
dataset1.head() # returns first 5 rows

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [3]:
# Returns tuple of shape (Rows, columns) 
print(dataset1.shape) 

# Returns size of dataframe 
print(dataset1.size)

(49068, 10)
490680

In [4]:
# Information about Dataset1 
# return concise summary of dataframe 
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [5]:
# Importing Dataset2 
dataset2 = pd.read_csv("full_grouped.csv") 
dataset2.head() # return first 5 rows of dataset2

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa

In [6]:
# Returns tuple of shape (Rows, columns) 
print(dataset2.shape) 

# Returns size of dataframe 
print(dataset2.size)

(35156, 10)
351560

In [7]:
# Information about Dataset2 
dataset2.info() # return concise summary of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35156 entries, 0 to 35155
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            35156 non-null  object
 1   Country/Region  35156 non-null  object
 2   Confirmed       35156 non-null  int64
 3   Deaths          35156 non-null  int64
 4   Recovered       35156 non-null  int64
 5   Active          35156 non-null  int64
 6   New cases       35156 non-null  int64
 7   New deaths      35156 non-null  int64
 8   New recovered   35156 non-null  int64
 9   WHO Region      35156 non-null  object
dtypes: int64(7), object(3)
memory usage: 2.7+ MB

In [8]:
# Columns labels of a Dataset1 
dataset1.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [9]:
# Drop NewCases, NewDeaths, NewRecovered rows from dataset1 

dataset1.drop(['NewCases', 'NewDeaths', 'NewRecovered'], 
			axis=1, inplace=True) 

# Select random set of values from dataset1 
dataset1.sample(5)

KeyError: "['NewCases', 'NewDeaths', 'NewRecovered'] not found in axis"